<html lang="en">
<head>
  <title> Responsive Spotify</title>
  <meta charset="utf=8"/>
  <link rel="stylesheet" href="pp.css" type="text/css"/>

 <body>
<ul id="songlistpage">
				<li class="Clean">Clean<br><br><button onclick="add(this)">Add</button><button onclick="addandplay(this)">Play</button></li>
				<li class="This Love">This Love<br><br><button onclick="add(this)">Add</button><button onclick="addandplay(this)">Play</button></li>
				<li class="Wonderland">Wonderland<br><br><button onclick="add(this)">Add</button><button onclick="addandplay(this)">Play</button></li>
				<li class="You Are In Love">You Are In Love<br><br><button onclick="add(this)">Add</button><button onclick="addandplay(this)">Play</button></li>
				<li class="Bad Blood">Bad Blood<br><br><button onclick="add(this)">Add</button><button onclick="addandplay(this)">Play</button></li>
				<li class="How You Get The Girl">How You Get The Girl<br><br><button onclick="add(this)">Add</button><button onclick="addandplay(this)">Play</button></li>
</ul>
			


<script src="js/playerLogic.js">
</script>

</body>
<html>